{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -Profil{% endblock %}

{% block main %}

    <div>Prénom : {{ participant.firstname }}</div>

    <div>Nom : {{ participant.name }}</div>

    <div>Téléphone : {{ participant.phone }}</div>

    <div>Email : {{ participant.email }}</div>

    <div>Campus : {{ participant.isAffectedTo.name }}</div>


<div>
    <button>Retour</button>
</div>





















{% endblock %}
