{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -Profil{% endblock %}

{% block head %}
    <link rel="stylesheet" href={{ asset('css/myProfil.css') }}>{% endblock %}

{% block main %}
    <h1> {{ participant.pseudo }}</h1>

    <img class="imageProfile" src="{{ asset('img/' ~participant.imageProfile) }}" alt="Photo du profil">

    <div class="global">

        <div class="blockPrincipale">

            <div class="block">
                <p>Prénom :</p>
                <p>{{ participant.firstname }}</p>
            </div>


            <div class="block">
                <p>Nom :</p>
                <P>{{ participant.name }}</P>
            </div>


            <div class="block">
                <P>Téléphone :</P>
                <p>{{ participant.phone }}</p>
            </div>


            <div class="block">
                <p>Email :</p>
                <p>{{ participant.email }}</p>
            </div>


            <div class="block">
                <p>Campus :</p>
                <p>{{ participant.isAffectedTo.name }}</p>
            </div>

        </div>

    </div>
    <div class="button">
        <a href={{ path('home') }}> Retour </a>
    </div>

{% endblock %}
