{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block head %}
    <link rel="stylesheet" href={{ asset('css/updateProfil.css') }}>{% endblock %}

{% block main %}

    <h1>Mon profil</h1>
    <img class="imageProfile" src="{{ asset('img/' ~participant.imageProfile) }}" alt="Photo du profil">
    <div class="global">


        {{ form_start(form) }}
        <div class="divform">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            </div>
        {{ form_errors(form.username) }}

        <div class="divform">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
           </div>
        {{ form_errors(form.name) }}

        <div class="divform">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
            </div>
        {{ form_errors(form.firstname) }}

        <div class="divform">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
            </div>
        {{ form_errors(form.phone) }}

        <div class="divform">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
          </div>
        {{ form_errors(form.email) }}

        <div class="divform">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first) }}
          </div>
        {{ form_errors(form.password.first) }}

        <div class="divform">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second) }}
           </div>
        {{ form_errors(form.password.second) }}
        <div class="divform">
            {{ form_label(form.isAffectedTo) }}
            {{ form_widget(form.isAffectedTo) }}
            </div>
        {{ form_errors(form.isAffectedTo) }}

        <div class="divform" id="upload">
            {{ form_label(form.imageProfile) }}
            <div class="button-wrap">
                <label class="upload" for="participant_imageProfile">Parcourir</label>
                {{ form_widget(form.imageProfile) }}
            </div>
            {{ form_errors(form.imageProfile) }}</div>


        <div class="button">
            <button type="submit" name="save" value="save">Enregistrer</button>
            <button type="submit" name="cancel" value="cancel">Annuler</button>
        </div>


        {{ form_end(form) }}

    </div>









{% endblock %}
