{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block main %}
    <h1>Mon profil</h1>



    <div>
        {{ form_start(form) }}<div class="divform">
            {{ form_label(form.name) }}{{ form_widget(form.name) }}</div>

        <div class="divform">
            {{ form_label(form.firstname) }}{{ form_widget(form.firstname) }}</div>

        <div class="divform">
            {{ form_label(form.phone) }}{{ form_widget(form.phone) }}</div>

        <div class="divform">
            {{ form_label(form.email) }}{{ form_widget(form.email) }}</div>

        <div class="divform">
            {{ form_label(form.password) }}{{ form_widget(form.password) }}</div>


        <div class="divform">
            {{ form_rest(form) }}<button>Enregistrer</button>
            {{ form_rest(form) }}<button>Annuler</button>

        </div>
        {{ form_end(form) }}</div>








{% endblock %}
