{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block head %}<link rel="stylesheet" href={{ asset('css/home.css') }}>{% endblock %}

{% block main %}

    <h1>Acceuil</h1>

    <h2>Filtrer les sorties</h2>


    {{ form_start(form) }}
    <div class="form">
        <div class="block">
            <div class="divform">
                {{ form_label(form.campus) }}
                {{ form_widget(form.campus) }}
            </div>
            <div class="divform">
                {{ form_label(form.search) }}
                {{ form_widget(form.search) }}
            </div>
            <div class="divform" id="date">
                {{ form_label(form.start) }}
                {{ form_widget(form.start) }}

                {{ form_label(form.end) }}
                {{ form_widget(form.end) }}
            </div>
        </div>
        <div class="block">
            <div class="divform">
                {{ form_widget(form.organiser) }}
                {{ form_label(form.organiser) }}
            </div>
            <div class="divform">
                {{ form_widget(form.registered) }}
                {{ form_label(form.registered) }}
            </div>
            <div class="divform">
                {{ form_widget(form.notRegistered) }}
                {{ form_label(form.notRegistered) }}
            </div>
            <div class="divform">
                {{ form_widget(form.passed) }}
                {{ form_label(form.passed) }}
            </div>
        </div>
        <div class="block" id="blockSearch">
            <div class="divform" id="search">
                {{ form_rest(form) }}
                <button>Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="table_scroll">
        <table>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrit/places</th>
                <th>État</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for trip in trips %}
                <tr>
                    <td>{{ trip.name }}</td>
                    <td>{{ trip.dateTimeStart|date("d/m/Y H:i") }}</td>
                    <td>{{ trip.dateLimitInscription|date("d/m/Y") }}</td>
                    <td>{{ trip.nbInscriptionsMax }}</td>
                    <td>{{ trip.state.wording }}</td>
                    <td>
                        {%for participant in trip.isRegistered%}
                            {%if participant == user%} Inscrit {%endif%}
                        {%endfor%}
                    </td>
                    <td><a href={{path('myProfil', {'id':trip.organiser.id})}}>{{ trip.organiser.firstname }}</a></td>

                    <td>{%if trip.state.wording == 'Ouverte' %}
                        <a href={{path('display', {'id':trip.id})}}>Afficher</a>
                            {%if trip.organiser == user%}
                        - <a href={{path('cancel', {'id':trip.id})}}>Annuler</a>
                            {%endif%}

                            {%if trip.organiser != user%}
                                {% set inscrit = false %}
                                {%for registred in trip.isRegistered%}
                                    {%if registred == user%}
                                        - <a href={{ path('unsubscribe', {'id':trip.id})}}>Se désinscrire</a>
                                        {% set inscrit = true %}
                                        {% set break = true %}
                                    {%endif%}
                                {%endfor%}
                                {%if trip.isRegistered.count < trip.nbInscriptionsMax and inscrit == false %}
                                    - <a href={{path('register', {'id':trip.id})}}>S'inscrire</a>
                                {%endif%}
                            {%endif%}
                        {%endif%}

                        {%if trip.state.wording != 'Ouverte' %}
                            <a href={{path('display', {'id':trip.id})}}>Afficher</a>
                            {%if trip.organiser == user%}
                                {%if trip.state.wording != 'En création'%}
                                    - <a href={{ path('modify', {'id':trip.id})}}>Modifier</a>  -
                                    <a href={{ path('publish', {'id':trip.id})}}>Publier</a>
                                {%endif%}
                            {%endif%}
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="button">
        <a href={{ path('add') }}>Créer une sortie</a>
    </div>
{% endblock %}
