{% extends 'base.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block head %}
    <link rel="stylesheet" href={{ asset('css/add.css') }}>{% endblock %}

{% block main %}

    <h2>Créer une sortie</h2>


    {{ form_start(form) }}
    <div class="block">
        <div class="test">
            <div class="divform">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            {{ form_errors(form.name) }}
            <div class="divform">
                {{ form_label(form.dateTimeStart) }}
                {{ form_widget(form.dateTimeStart) }}
            </div>
            {{ form_errors(form.dateTimeStart) }}
            <div class="divform">
                {{ form_label(form.dateLimitInscription) }}
                {{ form_widget(form.dateLimitInscription) }}
            </div>
            {{ form_errors(form.dateLimitInscription) }}
            <div class="divform">
                {{ form_label(form.nbInscriptionsMax) }}
                {{ form_widget(form.nbInscriptionsMax) }}
            </div>
            {{ form_errors(form.nbInscriptionsMax) }}
            <div class="divform">
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
            </div>
            {{ form_errors(form.duration) }}
            <div class="divform">
                {{ form_label(form.infoTrip) }}
                {{ form_widget(form.infoTrip) }}
            </div>
            {{ form_errors(form.infoTrip) }}
        </div>
        <div class="test">
            <div class="divform">
                {{ form_label(form.siteOrganiser) }}
                {{ form_widget(form.siteOrganiser) }}
            </div>
            {{ form_errors(form.siteOrganiser) }}
            <div class="divform">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
            </div>
            {{ form_errors(form.city) }}
            <div class="divform">
                {{ form_label(form.place) }}
                {{ form_widget(form.place) }}
                <input type="hidden" id="divPlace" value={{path('api_place', {'id':25})}}>
            </div>
            {{ form_errors(form.place) }}
            <div class="divform">
                Rue :

            </div>
            <div id="place">

            </div>
        </div>
        <div class="divdivplus">
            <div class="divPlus">
                <a id="plus" href={{ path('addPlace') }}>+</a>
            </div>
        </div>
        <div class="divform" id="button">
            {{ form_rest(form) }}

            <button type="submit" name="save" value="save">Enregistrer</button>
            <button type="submit" name="publish" value="publish">Publier la sortie</button>
            <a href={{ path('home') }}>Annuler</a>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{%block script%}
    <script>
        document.getElementById('trip_place').addEventListener('change', function (){
            let path = document.getElementById('divPlace').value
            fetch(path, {method: 'GET'})
                .then(function (response) {
                    return response.json()
                }).then(function (data) {

                let div = document.createElement('div')

                div.innerHTML ="<div class='divform'><p> Rue : </p><p>" + data.street + "</p></div>" +
                    "<div class='divform'><p>Code postal : </p><p>" + data.postalCode + "</p></div>" +
                    "<div class='divform'><p>Latitude : </p><p>" + data.latitude + "</p></div>" +
                    "<div class='divform'><p>Longitude : </p><p>" + data.longitude + "</p></div>"

                document.getElementById('place').appendChild(div)
            })
        })
    </script>
{%endblock%}