{% extends 'base.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block head %}
    <link rel="stylesheet" href={{ asset('css/add.css') }}>{% endblock %}

{% block main %}

    <h2>Créer une sortie</h2>


    {{ form_start(form) }}
    <div class="block">
        <div class="test">
            <div class="divform">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="divform">
                {{ form_label(form.dateTimeStart) }}
                {{ form_widget(form.dateTimeStart) }}
                {{ form_errors(form.dateTimeStart) }}
            </div>
            <div class="divform">
                {{ form_label(form.dateLimitInscription) }}
                {{ form_widget(form.dateLimitInscription) }}
                {{ form_errors(form.dateLimitInscription) }}
            </div>
            <div class="divform">
                {{ form_label(form.nbInscriptionsMax) }}
                {{ form_widget(form.nbInscriptionsMax) }}
                {{ form_errors(form.nbInscriptionsMax) }}
            </div>
            <div class="divform">
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
                {{ form_errors(form.duration) }}
            </div>
            <div class="divform">
                {{ form_label(form.infoTrip) }}
                {{ form_widget(form.infoTrip) }}
                {{ form_errors(form.infoTrip) }}
            </div>
        </div>
        <div class="test">
            <div class="divform">
                {{ form_label(form.siteOrganiser) }}
                {{ form_widget(form.siteOrganiser) }}
                {{ form_errors(form.siteOrganiser) }}
            </div>
            <div class="divform">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
                {{ form_errors(form.city) }}
            </div>
            <div class="divform">
                {{ form_label(form.place) }}
                {{ form_widget(form.place) }}
                {{ form_errors(form.place) }}

            </div>
            <div class="divform">
                Rue :
            </div>
            <div class="divform">
                Code postal :
            </div>
            <div class="divform">
                Latitute :
            </div>
            <div class="divform">
                Longitude :
            </div>
        </div>
        <div class="divdivplus">
            <div class="divPlus">
                <a id="plus" href={{ path('addPlace') }}>+</a>
            </div>
        </div>
        <div class="divform" id="button">
            {{ form_rest(form) }}

            <button type="submit" name="save" value="save">Enregistrer</button>
            <button type="submit" name="publish" value="publish">Publier la sortie</button>
            <a href={{ path('home') }}>Annuler</a>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
