{% extends 'base.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block main %}

    <div>
        <h2>Créer une sortie</h2>

        {{ form_start(form) }}
        <div class="divform">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="divform">
            {{ form_label(form.dateTimeStart) }}
            {{ form_widget(form.dateTimeStart) }}
        </div>
        <div class="divform">
            {{ form_label(form.dateLimitInscription) }}
            {{ form_widget(form.dateLimitInscription) }}
        </div>
        <div class="divform">
            {{ form_label(form.nbInscriptionsMax) }}
            {{ form_widget(form.nbInscriptionsMax) }}
        </div>
        <div class="divform">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration) }}
        </div>
        <div class="divform">
            {{ form_label(form.infoTrip) }}
            {{ form_widget(form.infoTrip) }}
        </div>.
        <div class="divform">
            {{ form_label(form.campus) }}
            {{ form_widget(form.campus) }}
        </div>
        <div class="divform">
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
        </div>
        <div class="divform">
            {{ form_label(form.place) }}
            {{ form_widget(form.place) }}
        </div>
        <div class="divform">
            {{ form_rest(form) }}
            <button type="submit" name="save">Enregistrer</button>
            <button type="submit" name="publish">Publier la sortie</button>
            <button type="reset" name="cancel">Annuler</button>
        </div>
        {{ form_end(form) }}



    </div>

{% endblock %}
