{% extends 'base.html.twig' %}

{% block title %}{{parent}} - Ajouter un lieu{% endblock %}

{% block head %}
    <link rel="stylesheet" href={{ asset('css/addPlace.css') }}>{% endblock %}

{% block main %}

    <h1>Ajouter un lieu</h1>

    <div class="block">
    {{ form_start(form) }}
    <div class="divform">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="divform">
        {{ form_label(form.street) }}
        {{ form_widget(form.street) }}
    </div>
    <div class="divform">
        {{ form_label(form.latitude) }}
        {{ form_widget(form.latitude) }}
    </div>
    <div class="divform">
        {{ form_label(form.longitude) }}
        {{ form_widget(form.longitude) }}
    </div>
    <div class="divform">
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
    </div>
    {{ form_rest(form) }}
    </div>
    <div class="button">
        <button type="submit" name="save" value="save">Enregistrer</button>
    </div>


    {{ form_end(form) }}

{% endblock %}
