{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Annulation de la sortie{% endblock %}
{%block head%} <link rel="stylesheet" href={{asset('css/cancel.css')}}>{%endblock%}
{% block main %}
    <h2>Annuler une sortie</h2>
    <br>

    <h5>Nom de la sortie: {{trip.name}}</h5>
    <h5>Date de la sortie: {{trip.dateTimeStart|date("d/m/Y")}}</h5>
    <h5>Campus: {{trip.siteOrganiser.name}}</h5>
    <h5>Lieu: {{trip.place.name}} {{trip.place.street}} {{trip.place.city.postalCode}} {{trip.place.city.name}}</h5>
    {{ form_start(form) }}

<div class="block">
        <div class="divform">
            {{ form_label(form.motif) }}
            {{ form_widget(form.motif) }}
        </div>

        <div class="divform">
            {{ form_rest(form) }}
            <button type="submit" name="save" value="save">Enregistrer</button>
            <a href="{{path('home')}}">Annuler</a>
        </div>
</div>


    {{ form_end(form) }}
{% endblock %}
