{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Modification de sortie{% endblock %}
{%block head%} <link rel="stylesheet" href={{asset('css/modify.css')}}>{%endblock%}
{% block main %}

    <div>
        <h2>Modifier une sortie</h2>

        {{ form_start(form) }}
        <div class="divform">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="divform">
            {{ form_label(form.dateTimeStart) }}
            {{ form_widget(form.dateTimeStart) }}
        </div>
        <div class="divform">
            {{ form_label(form.dateLimitInscription) }}
            {{ form_widget(form.dateLimitInscription) }}
        </div>
        <div class="divform">
            {{ form_label(form.nbInscriptionsMax) }}
            {{ form_widget(form.nbInscriptionsMax) }}
        </div>
        <div class="divform">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration) }}
        </div>
        <div class="divform">
            {{ form_label(form.infoTrip) }}
            {{ form_widget(form.infoTrip) }}
        </div>
        <div class="divform">
            {{ form_label(form.siteOrganiser) }}
            {{ form_widget(form.siteOrganiser) }}
        </div>

        <div class="divform">
            {{ form_label(form.place) }}
            {{ form_widget(form.place) }}
        </div>

        <h5>Rue: {{trip.place.street}}</h5>
        <h5>Code Postal: {{trip.place.city.postalCode}} {{trip.place.city.name}}</h5>

        <div class="divformbutton">
            {{ form_rest(form) }}
            <button type="submit" name="save" value="save">Enregistrer</button>
            <button type="submit" name="publish" value="publish">Publier la sortie</button>
            <button type="submit" name="remove" value="remove">Supprimer la sortie</button>
            <a href={{path('home')}}>Annuler</a>
        </div>
        {{ form_end(form) }}



    </div>

{% endblock %}
