{% extends 'base.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block main %}


    <h2>Afficher une sortie</h2>
    <div>

        <div><p>Nom de la sortie : {{ trip.name }}</p></div>
        <div><p>Date et heure de la sortie : {{ trip.dateTimeStart|date('d M Y  H:i') }}</p></div>
        <div><p>Date limite d'inscription : {{ trip.dateLimitInscription|date('d M Y') }}</p></div>
        <div><p>Nombre de place : {{ trip.nbInscriptionsMax }}</p></div>
        <div><p>Durée : {{ trip.duration }} minutes</p></div>
        <div><p>Description et infos : {{ trip.infoTrip }}</p></div>
        <div><p>Campus : {{ trip.siteOrganiser.name }}</p></div>
        <div><p>Lieu : {{ trip.place.name }}</p></div>
        <div><p>Rue : {{ trip.place.street }}</p></div>
        <div><p>Code Postal : {{ trip.place.city.postalCode }}</p></div>
        <div><p>Latitude : {{ trip.place.latitude }}</p></div>
        <div><p>Longitude : {{ trip.place.longitude }}</p></div>

    </div>

    <div>
        <h4>Liste des participants inscrits</h4>

        <table>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            {% for participant in trip.isRegistered %}
                <tr>
                    <td>{{ participant.username }}</td>
                    <td>{{ participant.name }} {{ participant.firstname }}</td>
                </tr>
            {% endfor %}


        </table>

    </div>
{% endblock %}
