{% extends 'base.html.twig' %}

{% block title %}{{parent}} - Détail de la sortie{% endblock %}

{% block head %}<link rel="stylesheet" href={{ asset('css/see.css') }}>{% endblock %}

{% block main %}


    <h2>Afficher une sortie</h2>

    <div class="info">
        <div class="principale">
            <div class="secondaire"><p>Nom de la sortie : </p><p> {{ trip.name }}</p></div>
            <div class="secondaire"><p>Date et heure de la sortie : </p><p> {{ trip.dateTimeStart|date('d M Y  H:i') }}</p></div>
            <div class="secondaire"><p>Date limite d'inscription : </p><p> {{ trip.dateLimitInscription|date('d M Y') }}</p></div>
            <div class="secondaire"><p>Nombre de place : </p><p> {{ trip.nbInscriptionsMax }}</p></div>
            <div class="secondaire"><p>Durée : </p><p> {{ trip.duration }} minutes</p></div>
            <div class="secondaire"><p>Description et infos : </p><p> {{ trip.infoTrip }}</p></div>
        </div>

        <div class="principale">
            <div class="secondaire"><p>Campus : </p><p> {{ trip.siteOrganiser.name }}</p></div>
            <div class="secondaire"><p>Lieu : </p><p> {{ trip.place.name }}</p></div>
            <div class="secondaire"><p>Rue : </p><p> {{ trip.place.street }}</p></div>
            <div class="secondaire"><p>Code Postal : </p><p> {{ trip.place.city.postalCode }}</p></div>
            <div class="secondaire"><p>Latitude : </p><p> {{ trip.place.latitude }}</p></div>
            <div class="secondaire"><p>Longitude : </p><p> {{ trip.place.longitude }}</p></div>
        </div>
    </div>

    <div class="participant">
        <h4>Liste des participants inscrits</h4>

        <div class="tb1-header">
            <table class="tabHeader">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </table>
        </div>
        <div class="tbl-content">
            <table class="tabContent">
                {% for participant in trip.isRegistered %}
                    <tr>
                        <td>{{ participant.username }}</td>
                        <td><a href={{path('myProfil', {'id':trip.organiser.id})}}>{{ participant.name }} {{ trip.organiser.firstname }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
