<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href={{asset('css/style.css')}}>
    </head>
    <body>
        <header>
            <nav>

                <a href={{path('home')}}><img src={{asset('img/logo.png')}}></a>

                <a href={{path('home')}}>Acceuil</a>
                <a href={{path('updateProfil')}}>Mon profil</a>
                <a href={{path('app_logout')}}>Deconnexion</a>
            </nav>
            {%block header%}{%endblock%}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>


        <footer>
            {% block footer %}
                <div>&copy; MaCaMa - {{'now'|date('Y')}} - ENI</div>

            {% endblock %}
        </footer>
    </body>
</html>
